*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}
body{
   background-repeat: no-repeat;
   background-image: url(./assest/5294319.jpg);
   
}

.form-container{
   min-height: 97vh;
   /* background-color: rgb(224, 227, 226); */
   display: flex;
   justify-content: center;
   align-items: center;
   padding: 20px;
   margin-left: 5%;
 }
 .form-container form{
   padding: 32px;
   background-color: aliceblue;
   box-shadow: 0 5px 10px rgba(0,0,0,.1);
   text-align: center;
   width: 500px;
   border-radius: 24px;
 }
 .message{
    
    margin: 10px 0;
    width: 100%;
    border-radius: 13px;
    padding: 3px;
    text-align: center;
    background-color: rgb(174, 60, 18);
    color: white;
    font-size: 20px;
 }
 .btn,
 .del-btn{
    width: 100%;
    display: block;
    font-size: 20px;
    cursor: pointer;
    border-radius: 5px;
    padding: 10px 30px;
    color: beige;
    text-align: center;
 }
 .btn{
    background-color: #ff0061;
 }
 .btn:hover{
    background-color: aquamarine;
 }
 .del-btn{
    background-color: red;
 }
 .delete-btn:hover{
    background-color: brown;
 }
 .form-container form h3{
    color: black;
    margin-bottom: 10px;
    font-size: 30px;
    text-transform: uppercase;
 }
 .form-container form .box{
    margin-left: 5px;
    width: 100%;
    padding: 12px 6px;
    color: black;
    font-size: 18px;
    border-radius: 5px;
    margin: 8px 0px;
 }
 .form-container form p{
    margin-top: 15px;
    color: black;
    font-size: 20px;
 }
 .form-container form p a{
    color: red;
    
 }
 .form-container form p a:hover{
    text-decoration: underline;
 }


