*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-weight: 300;
    font-size: 1.05rem;
    line-height: 1.6;
    font-family: 'Poppins', sans-serif;
}
*, ::after, ::before {
    color: orange;
    box-sizing: border-box;
    font-size: 23px;
    text-align: center;
    margin-bottom: 5px;
    
}
body{
    background-color: black;
}
h2{
    text-align: center;
    font-size: 23px;
    color: orange;
}

nav {
    position: relative;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px 0;
}
input{
    margin: 0;
    border-radius: 18px;
    font-family: inherit;
    font-size: 29px
}
.para{
    
    text-align: center;
    margin: 25px;
}
main {
    
    position: relative;
    padding: 0px 233px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 70px;
    /* max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    background: #fff;
    text-align: center;
    display: flex; */
}

main article {
    border: 5px solid yellow;
    width: calc(100% / 3 - 29px);
    border-radius: 18px;
    overflow: hidden;
    margin-bottom: 25px;
    background: #f1f3f4;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

main article img {
    
    width: 100%;
    display: block;
}

main article p,
main article h4,
main article audio {
        padding: 0 auto;
        text-align: center;
        font-size: 22px;
}

main article audio {
    width: 100%;
}
main article audio {
    margin-top: 21px;
    border-radius: 62px;
    width: 85%;
    border: 1px solid orange;
    /* background: orange; */
}
#searchTermBtn{
    width: 55px;
    height: 55px;
    font-size: 1.8rem;
    background: var(--tenne-tawny);
    color: #fff;
    border: none;
    border-top-right-radius: 2rem;
    border-bottom-right-radius: 2rem;
    transition: all 0.4s linear;
    -webkit-transition: all 0.4s linear;
}
.wrapper {
    
    min-height: 100vh;
    background-color: var(--dark-color);
}
.logo {
    padding: 1rem 0;
    border-bottom: 1px solid black;
}
.wrapper .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1rem;
}

.logo p {
    text-align: start;
    font-size: 2rem;
    color: #fff;
    font-weight: 900;
}
.logo p span {
    color: yellow;
    font-weight: 600;
}
.grid{

    justify-content: center;
    padding: 12px;
    margin: 0 auto;
    display: flex;
    margin-top: 57px;   
}
.movie{
    margin: 28px;
}
.grid{
    position: relative;
    /* padding: 0px 105px; */
    padding: 0px 233px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    
}
.p{
    margin-left: 4%;
}
.grid .card{
    border: 5px solid yellow;
    width: calc(100% / 3 - 6px);
    border-radius: 18px;
    overflow: hidden;
    margin-bottom: 25px;
    background: #f1f3f4;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.grid img{
    width: 100%;
    display: block;
}
.grid audio{
    margin-top: 21px;
    border-radius: 62px;
    width: 85%;
    border: 1px solid orange;
}